body{
   
    overflow: hidden;
}

.canvas {
    display: none;
}

#texto1::after{
    content: '|';
    margin-left: 0px;
    opacity: 1;
    animation: pisca .7s infinite;
}
#texto2::after{
    content: '|';
    margin-left: 0px;
    opacity: 1;
    animation: pisca .7s infinite;
}
#texto3::after{
    content: '|';
    margin-left: 0px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%,100%{
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    
}

.reloaded{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:#408a40;
    width: 100vw;
    height: 100vh;
    font-family: monospace;
}


.pills{
    width: 40vw;
    margin-top: 100vh;
    /* margin-top: 50vh; */
    display: none;
    justify-content: space-around;

}

#red-pill{
    background-color: #E53720;
    border-radius:30px;
    width: 150px;
    height: 10vh;
}

#blue-pill{
    background-color: #405AC9;
    border-radius:30px;
    width: 150px;
    height: 10vh;
}



#rabbit{
    display: none;
    opacity: 1;
    height: 700px;
    width: 40px;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}


.rabbits{ 
    opacity: 0; 
    height: 25px;
    width: 15px;
    animation-name: animacao;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}










@keyframes animacao {
    0%{
        opacity: 0;

    }10%{
        
       
       
        
    }25%{
        opacity: 1;
        margin-top: 35vh;
    }50%{
        opacity: 0;
        margin-top: 70vh;

    }75%{
        margin-top: 105vh;
        opacity: 1;

    }80%{
        margin-top: 135vh;
      
        
    }
  
}

.rabbits:nth-child(1){

}
.rabbits:nth-child(2){
    animation-delay: 0.3s;
}

.rabbits:nth-child(3){
    animation-delay: 3s;
}

.rabbits:nth-child(4){
    animation-delay: 6s;
}




@media (max-width:1000px) {
    .pills{
        width: 70vw;
    }
    
}


@media (max-width:700px) {
    .pills{
        width: 80vw;
    }
    
}



@media (max-width:400px) {



    .pills{
        width: 100vw;
    }
    #red-pill{
        width: 20vh;
        height: 10vh;
    }
    
    #blue-pill{
        width: 20vh;
        height: 10vh;
    }
    
}